*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color:white;
}


.mainWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-image: url(images/st2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.hdr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #8a8b91;
  border-bottom: 1px solid #FF006C;
  width: 100%;
  margin-top: 50px;
  background-color: #101315;
  padding-bottom: 40px;

}

.lgoo{
  width: 200px;
  height: 200px;
}

.bigH{
  font-size: 54px;
  font-family: 'Mogra', cursive;
  margin-top: -50px;
  text-align: center;
  /* letter-spacing: 2px; */
}

.smallH{
  font-size: 26px;
  font-family: 'Capriola', sans-serif;
  letter-spacing: 2px;
  text-align: center;
}

.mainStuff{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  /* border: 1px solid #8a8b91; */
  border: 1px solid #FF006C;
  width: 700px;
  border-radius: 10px;
  background-color: #101315;
  padding-top: 35px;
  padding-bottom: 35px;
}

.tHolder,.sStep,.tStep,.fStep{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.5s ease-out;
}

.creds{
  text-align: center;
  margin-top: 40px;
  font-size: 20px;
  font-family: 'Capriola', sans-serif;
  /* letter-spacing: 2px; */
}

#username{
  width: 100%;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 34px;
  color:black;
  background-color: #72FFD8;
  font-family: 'Capriola', sans-serif;
}

.inp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  position: relative;
}
i{
  position: absolute;
  /* color: #FF006C; */
  color: #101315;
  top:23px;
  left:10px;
  font-size: 34px;
}



.bbt
{
  margin-top: 40px;
  margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding: 15px 50px;
    color: #FF006C;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    border: 4px solid #FF006C;
    border-radius: 10px;
    cursor: pointer;
}
.bbt:hover
{
    color: white;
    background: #FF006C;
    box-shadow: 0 0 10px #FF006C, 0 0 40px #FF006C, 0 0 80px #FF006C;
    transition-delay: 0.5s;
}
.bbt span
{
    position: absolute;
    display: block;
}
.bbt span:nth-child(1)
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg,transparent,#FF006C);
}
.bbt:hover span:nth-child(1)
{
    left: 100%;
    transition: 0.5s;
}
.bbt span:nth-child(2)
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg,transparent,#FF006C);
}
.bbt:hover span:nth-child(2)
{
    right: 100%;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.bbt span:nth-child(3)
{
    top: -100℅;
    right: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(180deg,transparent,#FF006C);
}
.bbt:hover span:nth-child(3)
{
    top: 100%;
    transition: 0.5s;
    transition-delay: 0.25s;
}
.bbt span:nth-child(4)
{
    bottom: -100℅;
    left: 0%;
    width: 2px%;
    height: 100%;
    background: linear-gradient(360deg,transparent,#FF006C);
}
.bbt:hover span:nth-child(4)
{
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.75s;
}

.secBoxes{
  display: flex;
  width: 1000px;
  margin-top: 100px;
  margin-bottom: 40px;
}

#cmmnts{
  /* background-color: transparent!important; */
  /* margin-top: 60px; */
  background-color: #101315;
  margin-bottom: 90px;
  width: 480px;
  border: 1px solid #FF006C;
  border-radius: 10px;
  margin-right: 20px;
  /* padding: 0px; */
  font-family: 'Capriola', sans-serif;
}

.profile img{
  border-radius: 100%;
}

.chat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-width: 100%; */
  /* margin-top: 60px; */
  min-width: 480px;
  max-width: 480px;
  border: 1px solid #FF006C;
  border-radius: 10px;
  margin-bottom: 60px;
  height: 615px;
  background-color: #101315;
  margin-left: 20px;
  font-family: 'Capriola', sans-serif;
}

.h2{
  font-size: 28px;
  color:white;
  margin-top: 15px;
  margin-bottom: 10px;
  letter-spacing: 3px;
  font-family: 'Mogra', cursive;
}

.innerchat{
  display: flex;
  flex-direction: column;
  /* flex:0; */
  /* width: 60%; */
    border-top: 1px solid #FF006C;
  width: 100%;
  height: 395px;
  background-color: #101315;
  color:#D6AD0A;
  /* color:rgb(233, 233, 233); */
  letter-spacing: 1px;
  margin: 5px 0px;
  line-height: 1.3rem;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  padding-left: 10px;
  /* border-radius: 10px; */
  word-break: break-all;
}
.innerchat p{
  word-break: break-all;
  font-size: 13px;
}
.redchat{
  /* color:red; */
  /* color:#BE80DA; */
  color:#72FFD8;
}
.innerchatFunctions{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #FF006C;
}

.chatBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  height: 60px;
  margin-left: 2px;
  cursor: no-drop;
  min-width: 90px;
  padding: 17px 30px;
  margin: 10px auto;
  margin-right: 10px;
  cursor: not-allowed;
  /* background-color: #FF006C; */
  border: 2px solid #FF006C;
  color:white;
  border-radius: 6px;
}

.inputDisabled{
  width: 320px;
  padding: 12px 20px;
  margin: 8px 0;
  margin-left: 10px;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  color:white;
  font-size: 24px;
  background-color: transparent;
  display: flex;
  flex:1 0 auto;
  margin-right: 30px;
  line-height: 34px;
  padding-left: 10px;
}

.sStep{
  margin-top: 30px;
  display: none;
  opacity: 0;
}

.ldrM{
  font-size: 26px;
  margin-bottom: 30px;
}

.tStep{
  margin-top: 30px;
  font-family: 'Capriola', sans-serif;
  opacity: 0;
  display: none;
}

.statusHolder{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #72FFD8;
  margin-bottom: 30px;
}

.cncted{
  font-size: 25px;
}

.din{
  margin-left: 5px;
  color: #72FFD8;
  font-size: 25px;
}

.selectP{
  margin-bottom: 10px;
}

.packages{
  display: flex;
}

.ppp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #FF006C; */
  border: 1px solid #72FFD8;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s linear;
  background: transparent;
}

.ppp:hover{
  /* transform: scale(1.035); */
  border: 1px solid #FF006C;
}



.mid{
  margin-left: 10px;
  margin-right: 10px;
}

.fStep{
  font-family: 'Capriola', sans-serif;
  opacity: 0;
  display: none;
  width: 100%;
}

.stsss{
  margin-bottom: 5px;
  font-size: 16px;
}

.aaaaa{
  margin-bottom: 5px;
}

.detsss{
  transition: all 0.45s linear;
  text-align: center;
}

.verifyy{
  /* margin-top: 5px; */
  display: none;
  font-size: 20px;
  background-color: #FF006C;
  padding: 15px 50px;
  text-decoration: underline;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s linear;
  font-family: 'Mogra', cursive;
  /* margin-bottom: 40px; */
}
.verifyy:hover{
  transform: scale(1.1);
}
.verifyy:active{
  position:relative;
	top:1px;
}

.progress-wrapper{
  display: none;
  display: flex;
  opacity: 1;
  align-items: center;
  width: 70%;
  height: 35px;
  background-color: white;
  margin: 0px auto;
  margin-bottom: 20px;
  color:black;
  border-radius: 5px;
  position: relative;
  margin-top: 15px;
}

.progress-wrapper p{
  /* margin-left: 20px; */
  margin: 0 auto;
  font-size: 16px;
  color:black;
  z-index: 1;
  width: 100%;
  text-align: center;
  /* font-family: 'Montserrat', sans-serif; */
  letter-spacing: 2px;
}

.progress{
  /* background-color: rgba(48, 154, 74,0.2); */
  background-color:rgba(228, 104, 93,0.6);
  background: rgb(93, 218, 94);
  background: #72FFD8;
  height: 100%;
  width: 0px;
  position: absolute;
  border-radius: 5px;
  top:0;
}



.alertingg{
  animation-name: shake;
  animation-duration: 0.3s;
  animation-direction: alternate;

}

@keyframes shake {
  0%{transform: translateX(0px);}
  25%{transform: translateX(5px);}
  50%{transform: translateX(-5px);}
  75%{transform: translateX(10px);}
  100%{transform: translateX(-5px);}
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


.ftr{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 10px;
  font-family: 'Capriola', sans-serif;
}

.lnks{
  display: flex;
  margin-bottom: 7px;
  /* line-height: 1em; */
}

.lnk{
  padding-left: 9px;
  padding-right: 9px;
}

.first,.second{
  border-right: 2px solid white;
  cursor: pointer;
}
.thirdd{
  cursor: pointer;
}

.detailss{
  text-align: center;
}

@media (max-width:1000px){
  .secBoxes{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #cmmnts{
    margin-right: 0px;
  }
  .chat{
    margin-left: 0px;
  }
}

@media (max-width:705px){
  .mainStuff{
    width: 480px;
  }

  .progress-wrapper{
    width: 90%;
  }
  .cncted{
    font-size: 22px;
  }
  .din{
    font-size: 22px;
  }


}

@media (max-width:495px){
  .lgoo{
    width: 145px;
    height: 145px;
  }
  .bigH{
    font-size: 38px;
  }
  .smallH{
    font-size: 22px;
  }
  .mainStuff{
    width: 380px;
  }
  .inp{
    width: 80%;
  }
  #username{
    font-size: 28px;
  }
  .progress-wrapper p{
    font-size: 14px;
  }
  #cmmnts{
    width: 380px;
  }
  .chat{
    max-width: 380px;
    min-width: 380px;
  }
  .inputDisabled{
    font-size: 20px;
    width: 220px;
  }
  .statusHolder{
    flex-direction: column;
  }
  .cncted{
    font-size: 22px;
  }
  .din{
    font-size: 22px;
  }
}

@media (max-width:375px){
  .mainStuff{
    width: 280px;
  }
  .creds{
    font-size: 16px;
  }
  i{
    top:20px;
    font-size: 24px;
  }
  #username{
    font-size: 22px;
    padding-left: 45px;
  }
  .bbt{
    text-align: center;
    font-size: 20px;
  }
  .sPack{
    width: 60px;
  }
  .detsss{
    font-size: 10px;
  }
  ..progress-wrapper{
    width: 95%;
  }
  .progress-wrapper p{
    font-size: 11px;
  }
  #cmmnts{
    width: 300px;
  }
  .chat{
    max-width: 300px;
    min-width: 300px;
  }
  .inputDisabled{
    font-size: 14px;
    width: 160px;
  }
  .chatBtn{
    font-size: 14px;
  }
  .ftr{
    font-size: 12px;
  }

}
